* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #e66465, #9198e5);
}

.open-sidebar {
    background: none;
    border: none;
    z-index: 3;
    position: relative;
    top: 0;
}

.open-sidebar:hover {
    cursor: pointer;
}

aside {
    background: linear-gradient(45deg,#6F61DC, #4697EC);
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
    position: absolute;
    top: 0;
}

aside div .add-task {
    position: absolute;
    bottom: 0px;
    font-size: 75px;
    transform: translateX(-50%);
}

.add-task:hover {
    cursor: pointer;
}

main {
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 40vw;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
}
.task-heading {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.task-heading select {
    width: 20%;
}

.task-body {
    width: 100%;
}

.task {
    width: 80%;
    height: 10vh;
    margin: auto;
    background:white;
    list-style: none;
}